<!DOCTYPE html>
<html>
<head>
  <title>Commander</title>
  <%= javascript_include_tag "commander/application" %>
  <%= stylesheet_link_tag    "commander/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
